* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;

}
 .logo {
    float: left;
    width: 3.5%;
    height: auto;
    margin: 0%;
 }

nav {
    color: #fff;
    padding: 0.3% 0;
   display: flex;
  justify-content: space-around;
  align-items: center;
   position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(239, 7, 7, 0.697); 
  backdrop-filter: blur(10px);         
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  font-family: 'Press Start 2P', monospace;
}
nav li a:hover {
  color: #f0c040;
}
nav ul {
  display: flex;
  justify-content: space-between; 
  width: 60%;                     
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  flex: 1;                       
  text-align: center;            
  font-size: 1.8em;
  font-weight: bolder;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}



header {
  text-align: center;
  margin-bottom: 40px;
}

h2 {
   display: block;     
  width: 100%;        
  clear: both;  
   text-align: center;
    color: #f0c040;
    text-shadow: 1px 1px 2px #00000085;
    font-size: 6em;
    margin: 5% 0 5% 0;
    -webkit-text-stroke: 0.2px black;
    padding: 4rem;
}
.heading{
    display: block;
    text-align: center;
    font-size: 9em;
    background:url('bg.jpg')    no-repeat center center;
    background-size: cover;
    backdrop-filter: blur(3px);
    color: #000000;
      text-shadow: 1px 1px 2px #ffffff85;
    margin: 5% 0;
    -webkit-text-stroke: 0.7px rgb(255, 255, 255);
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100% ;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3%;
  max-width: 80%;
  margin: 0 auto;
}

.product-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 19rem;
  border-radius: 8px;
  margin-bottom: 15px;
    object-fit: cover;
}

.product-card h2 {
  font-size: 1.2rem;
  color: #333;
}

.price {
  color: #e62e2e;
  font-size: 1.1rem;
  margin: 10px 0;
}

button {
  background-color: #e62e2e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #c91c1c;
}
footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
    margin-top: 7em;
}
@media (max-height: 20vh) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 20vw) {
  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}